<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- xmlns:layout="http://www.w3.org/1999/xhtml" 
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 -->

<head>
    <meta charset="UTF-8"/>
    <title>Cobranca</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
<body>

    <header layout:insert="~{Cabecalho}"></header>
    
    <!-- Templates/Layout com apoio do link https://github.com/ultraq/thymeleaf-layout-dialect -->
    <!-- Create a common layout to be used for several pages, defining extension........ -->
    <section layout:fragment="conteudo">
        <p>Page content goes here</p>
    </section>
    
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/cobranca.js"></script>
        
</body>
</html>