<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{LayoutPadrao}">

<!-- xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"-->

<head>
	<title>Pesquisa de Titulo</title>
</head>

<section layout:fragment="conteudo">

    <div class="panel panel-default">
    	<div class="panel-heading">
    		<!-- Clearfix ajuda no ajuste dos conteudos flutuantes -->
    		<div class="clearfix">
    			<h1 class="panel-title aw-titulo-panel">Pesquisa de título</h1>
    		    <a class="btn btn-link aw-link-panel" href="/titulos/novo">Cadastrar</a>
    		</div>
    	</div>
    	
    	<!--  Criando a tabela dos dados-->
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Descri&ccedil;&atilde;o</th>
						<th class="text-center col-md-2">Data de Vencimento</th>
						<th class="text-right col-md-2">Valor</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<!--  -->
				<tbody>
					<tr th:each="titulo : ${lstTitulo}">
						<td class="text-center" th:text="${titulo.codigo}"></td>
						<td th:text="${titulo.descricao}"></td>
						<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>  <!-- Para formatar o dado na tela, utiliza-se 2x {}, sera automaticamente utilizado a formatacao da classe no Model, pelo atributo -->
						<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td> <!-- Para concatentar uma String no text, utiliza-se o PIPE  |  |  -->
						<td class="text-center">
							<span class="label" th:text="${titulo.status.descricao}"
								th:classappend="${titulo.pendente ? 'label-danger' : titulo.recebido ? 'label-success' : 'label-default' }"></span>
						</td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" th:href="@{/titulos/ {codigoTituloVar} ( codigoTituloVar = ${titulo.codigo} ) }">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</td>
					</tr>
					<!-- No data found -  O "#" eh um utilitario para uso de Lists-->
					<tr>
						<!-- IF -->
						<td colspan="6" th:if="${#lists.isEmpty(lstTitulo)}">N&atilde;o existem registros</td>
						<!-- ELSE -->
						<td colspan="6" th:if="${not #lists.isEmpty(lstTitulo)}" th:text="|${#lists.size(lstTitulo)} registro(s)|"></td>
					</tr>
					
					<!-- Class 2.12
					     - Selection Variable Expressions = Ajuda a manter os dados na tela durante as validacoes
					     - Message Expressions = Para Internacionalizacao u utilizar um arquivo de Properties
					     - Link URL Expressions = Vai melhorar a utilizacao dos HREF
					 -->
				</tbody>
			</table>
		</div>    	
    </div>

</section>
</html>